.fa-shopping-cart {
  font-size: 1.5em;
}

#cardImageIndex {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#productImage {
  height: 500px;
  object-fit: cover;
}

#select {
  width: 250px;
}
